body {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #F3F3F3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

a {
    color: #5B7E9A !important;
    font-size: 12px;
}

.product {
    padding: 50px 143px 42px 127px;
    display: flex;
    align-items: flex-start;

    &__images {
        width: 120px;
        margin-right: 30px;

        &__item {
            width: 120px;
            height: 120px;
            background-color: #FAFAFA;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            cursor: pointer;
            position: relative;

            &.overlay {
                display: none;
            }

            &.video {
                .overlay {
                    display: flex;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(91, 126, 154, 0.5);
                }
            }

            &.active {
                border: 2px solid #28557A;
            }
        }
    }

    &__preview {
        width: 60%;
        margin-right: 50px;
        background: #F6F6F6;
        padding: 30px 30px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__polarization {
            display: flex;

            &>img {
                width: 24px;
                height: 24px;
            }

            &>span {
                line-height: 22px;
                margin-left: 5px;
                font-weight: 700;
                font-size: 12px;
            }
        }

        &__sale {
            background: #F9B52B;
            border-radius: 0px 10px;
            display: flex;

            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
            color: #FFFFFF;

            padding: 5px 10px;
        }

        &__image {
            max-width: 100%;
            margin: 0 40px;
        }

        &__360 {
            display: flex;
            align-items: center;
            text-transform: uppercase;

            &>img {
                width: 40px;
                height: 40px;
            }

            &>span {
                margin-left: 15px;
            }
        }
    }

    &__content {
        width: 40%;

        &_stars {
            &>img {
                width: 20px;
                height: 20px;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;

            color: #1D2029;

            margin: 30px 0 40px;
        }

        &__attributes {
            display: flex;

            &__item {
                font-size: 12px;
                margin-right: 27px;
                display: flex;

                &>.attribute {
                    text-transform: uppercase;
                }

                &>.value {
                    margin-left: 5px;
                    font-weight: 700;
                }
            }
        }

        &__variants {
            height: 290px;
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;

            &__item {
                width: 80px;
                height: 80px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid #F4F4F4;
                margin-right: 20px;
                margin-bottom: 20px;
                box-sizing: border-box;
                position: relative;
                cursor: pointer;

                .badge {
                    background: #C32429;
                    border-radius: 0px 5px;
                    text-transform: uppercase;
                    padding: 3px 5px;
                    position: absolute;
                    right: 3px;
                    top: 5px;
                    font-size: 8px;

                    &--yellow {
                        background: #F9B52B;
                    }

                    &--gray {
                        background: #95A9DD;
                    }
                }

                &.active {
                    border: 10px solid;
                    border-image-slice: 1;
                    border-width: 3px;
                    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

                    &:hover {
                        border-width: 3px;
                    }
                }

                &:hover {
                    border: 10px solid;
                    border-image-slice: 1;
                    border-width: 1px;
                    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                }

                &>img {
                    width: 65px;
                    height: 65px;
                    object-fit: cover;
                }
            }
        }

        &__price {
            display: flex;
            align-items: center;

            .price {
                font-weight: 700;
                font-size: 32px;
                line-height: 37px;
                text-transform: uppercase;
                color: #1D2029;
            }

            .discount {
                background: #FECF43;
                padding: 2px;
                border-radius: 2px;
                font-weight: 500;
                font-size: 10px;
                line-height: 12px;
                color: #1D2029;
                ;
            }

            .old-price {
                font-size: 11px;
                line-height: 13px;
                text-decoration-line: line-through;
                text-transform: uppercase;

                color: #C4C4C4;
            }
        }

        &__icons {
            &>img {
                margin-left: 20px;
                cursor: pointer;
            }
        }

        &__buttons {
            display: flex;
            justify-content: space-between;
            margin-top: 40px;
            color: #5B7E9A;
            text-transform: uppercase;
            font-size: 14px;
            align-items: center;

            .button {
                padding: 17px 0;
                width: 250px;
                background: #FFFFFF;
                border: 1px solid #5B7E9A;
                box-sizing: border-box;
                text-transform: uppercase;
                text-align: center;
                color: #5B7E9A;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;

                &--filled {
                    background: #5B7E9A;
                    color: #fff;
                }
            }
        }

        &__check-availability {
            display: flex;
            margin-top: 30px;
            color: #5A7C97;
            align-items: center;

            &>a {
                color: #1D2029 !important;
            }
        }

        &__notification {
            margin-top: 30px;
            padding: 19px 17px 18px 62px;
            position: relative;
            background: #FFFADF;

            font-size: 13px;
            line-height: 16px;
            color: #666459;

            &>img {
                position: absolute;
                top: 15px;
                left: 20px;
            }
        }
    }
}